{% extends 'base.html.twig' %}

{% block title %}Grp{% endblock %}

{% block body %}
    <h1>Group Details</h1>

    <table border="1" class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ grp.title }}</td>
            </tr>
            <tr>
                <th>Admins</th>
                <td>{{ grp.admins }}</td>
            </tr>
        </tbody>
    </table>
<h2>Contacts in this group</h2>
<table border="1" class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Number</th>
        </tr>
        {% for contact in grp.contacts %}
            <tr>
                <td>{{contact.name}}</td>
                <td>{{contact.number}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No contacts added to this group</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
<hr />
    <a href="{{ path('grp_index') }}">back to list</a> |

    <a href="{{ path('grp_edit', {'id': grp.id}) }}">edit</a>
<hr />

    {{ include('grp/_delete_form.html.twig') }}
{% endblock %}